
body {
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 300;
    font-size:1.1em;
    color: #7a7373;
}

header {
    background: linear-gradient(to left, #348AC7, #7474BF);
    padding: 0.6em;
    width: auto;
}


#logo {
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.4em;
    color: #ffffff;
    padding-left: 1em;
}

#hamburger-icon {
  margin: -32px 10px;
  display:block;
  float:right;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  background-color:rgba(255, 255, 255, 0.98);
  top: 37px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  list-style-type: none;
  font-size:2.1em;
  font-weight:600;
  margin-right:80px;
  margin-top:20px;

}

header a {
  text-decoration:none;
  color:grey;
}


h1 {
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
    font-size:2.3em;
}

h1, h2, h3, h4 {
    color: #3e3939;
}

h2{font-size:1.3em}

#hero {
    font-size:1.2em;
}

.highlight {
  background-color:rgba(52, 138, 199, 0.20);
  color:#348AC7;
  padding:0 3px;
  border-radius:3px;
}

main {
    max-width: 1050px;
    margin: auto;
}

@media (max-width: 1150px) {
    main {
       max-width: 90%;
       margin:auto;
    }
}

.intro {
    padding-top: 4em;
    text-align: center;
}

.bouton {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.btn {
    margin: 1.2em auto;
    font-weight: 500;
    font-size:1.1em;
    border-radius: 10px;
    padding: 1.5em;
    background: linear-gradient(to left, #348AC7, #7474BF);
    text-align: center;
    text-decoration: inherit; /* à comprendre */
    color: #ffffff !important;
}

.features {
    display: flex;
    justify-content: center;
    width: 100%;
}

.feature {
    padding: 0.8em;
}

.block {
    margin: 3em 0;
}

footer {
    color:#ffffff;
    width: auto;
    text-align: center;
    background: linear-gradient(to left, #348AC7, #7474BF);
    padding: 0.6em;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

input[type='checkbox'] { display: none; } .wrap-collabsible { margin: 1.2rem 0; } .lbl-toggle { display: block; font-weight: bold; font-size: 1.2rem; text-align: center; padding: 1rem; color:white; background: linear-gradient(to left, #348AC7, #7474BF); cursor: pointer; border-radius: 5px; transition: all 0.25s ease-out; } .lbl-toggle::before { content: ' '; display: inline-block; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid currentColor; vertical-align: middle; margin-right: .7rem; transform: translateY(-2px); transition: transform .2s ease-out; } .toggle:checked+.lbl-toggle::before { transform: rotate(90deg) translateX(-3px); } .collapsible-content { max-height: 0px; overflow: hidden; transition: max-height .25s ease-in-out; } .toggle:checked + .lbl-toggle + .collapsible-content { max-height: 350px; } .toggle:checked+.lbl-toggle { border-bottom-right-radius: 0; border-bottom-left-radius: 0; } .collapsible-content .content-inner { background: rgba(52, 138, 199, 0.10); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: .5rem 1rem; } .collapsible-content p { margin-bottom: 0; }


@media screen and (max-width: 50em) {
    .features {
        display: block;
    }
}

@media screen and (max-width: 38em) {

    header {
        text-align: center;
        padding: 0.6em 0;
    }

    #logo {
        padding:0;
    }

    .features {
        display: block;
    }

    .feature {
        padding: 0;
    }
}
